<div class="card" style="width: 18rem;" *ngIf="pelicula">
  <img class="card-img-top" [src]="pelicula.fotoPelicula" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ pelicula.nombrePelicula }}</h5>
    <p class="card-text">Protagonizada por: {{ pelicula.nombreProtagonista }}</p>
    <p class="card-text" *ngIf="pelicula.nombreProtagonista">DNI Protagonista: {{ pelicula.documentoProtagonista }} </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Tipo: {{ pelicula.tipoPelicula }}</li>
    <li class="list-group-item">Fecha de Estreno: {{ pelicula.fechaEstreno }}</li>
    <li class="list-group-item">Cantidad de Público: {{ pelicula.cantidadDePublico }}</li>
  </ul>
</div>

