/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar {
    background-color: #3f51b5; /* Cambia esto al color que prefieras */
    color: white; /* Cambia el color del texto si es necesario */
    font-weight: bold; /* Opcional: para un texto más destacado */
    position: fixed; /* Mantenerlo en la parte inferior */
    right: 45%;
    bottom: 0; /* Para que esté en la parte inferior */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
  }


  .container {
    position: relative; /* Necesario para el botón */
  }
  
  .logout-button {
    background-color: blue; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    position: absolute; /* Posicionamiento absoluto */
    top: 20px; /* Espacio desde la parte superior */
    right: 20px; /* Espacio desde la derecha */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    z-index: 999;
  }
  
  .logout-button:hover {
    background-color: darkblue; /* Cambia el color al pasar el mouse */
  }


  